<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Menu label:</strong>
  <%= @page.menu_label %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content.html_safe %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @page.published_at %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @page.priority %>
</p>

<%= button_to 'Edit', edit_page_path(@page), :method => "get" %>
<br>
<%= button_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= button_to 'Back', pages_path, :method => "get" %>
